@import "tailwindcss";
@import "floating-vue/dist/style.css";

@theme {
  --color-primary: #ad1457;
  --color-secondary: #ffedd5;

  --font-sans: "Raleway", sans-serif;
  --font-mono: "Inconsolata", monospace;
}

* {
  @apply min-w-0;
}

html {
  @apply font-sans;
}

#app {
  @apply flex min-h-screen flex-col;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-2xl font-bold;
}

h4 {
  @apply text-xl font-bold;
}

h5 {
  @apply text-lg font-bold;
}

h6 {
  @apply text-base font-bold;
}

a {
  @apply text-primary underline hover:text-black;
}

button {
  @apply inline-flex cursor-pointer items-center justify-center gap-2;
}

ul {
  @apply list-disc pl-6;
}

ol {
  @apply list-decimal pl-6;
}

li {
  @apply pl-2;
}

blockquote {
  @apply border-l-4 border-gray-200 pl-4 italic;
}

pre:has(code) {
  @apply bg-gray-700 p-2 font-mono text-white;
}

:not(pre) > code {
  @apply bg-gray-200 p-1 font-mono;
}

input {
  @apply rounded border-1 border-gray-300 bg-gray-50 px-2 py-1;
}

hr {
  @apply my-4 h-[2px] border-none bg-gray-200;
}

.lucide {
  width: unset;
  height: 1em;
}

.v-popper--theme-tooltip,
.v-popper--theme-dropdown {
  @apply duration-100!;
}

.v-popper--theme-tooltip .v-popper__inner {
  @apply rounded! border-1! border-none! bg-gray-700! px-4! py-2! text-white! shadow-none!;
}

.v-popper--theme-tooltip .v-popper__arrow-outer {
  @apply border-gray-700!;
}

.v-popper--theme-dropdown .v-popper__inner {
  @apply rounded! border-1! border-gray-300! bg-white! p-4! text-white! shadow-sm!;
}

.v-popper--theme-dropdown .v-popper__arrow-outer {
  @apply border-gray-300!;
}

.v-popper--theme-dropdown .v-popper__arrow-inner {
  @apply border-white!;
}

html:has(.print) :not(:has(.print), .print, .print *) {
  @apply hidden!;
}

.sortable-ghost,
.sortable-chosen {
  @apply opacity-25 grayscale;
}
