@import "tailwindcss";
@import "floating-vue/dist/style.css";

@theme {
  --color-primary: #ad1457;
  --color-secondary: #ffedd5;

  --font-sans: "Raleway", sans-serif;
  --font-mono: "Inconsolata", monospace;

  --shadow-overlay: 0 0 0 9999px #00000040;
}

html {
  @apply font-sans;
}

#app {
  @apply flex min-h-screen flex-col;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-2xl font-bold;
}

h4 {
  @apply text-xl font-bold;
}

h5 {
  @apply text-lg font-bold;
}

h6 {
  @apply text-base font-bold;
}

a {
  @apply text-primary underline hover:text-black;
}

button {
  @apply inline-flex cursor-pointer items-center justify-center gap-2;
}

ul {
  @apply list-disc pl-6;
}

ol {
  @apply list-decimal pl-6;
}

li {
  @apply pl-2;
}

blockquote {
  @apply border-l-4 border-slate-200 pl-4 italic;
}

pre:has(code) {
  @apply bg-slate-700 p-2 font-mono text-white;
}

:not(pre) > code {
  @apply bg-slate-200 p-1 font-mono;
}

input {
  @apply min-h-8 min-w-0 border-b-1 border-black/25 p-2;
}

textarea {
  @apply min-h-8 rounded-lg border-1 border-black/25 p-2;
}

hr {
  @apply my-4 h-[2px] border-none bg-slate-200;
}

.lucide {
  width: unset;
  height: 1em;
}

.v-popper--theme-tooltip,
.v-popper--theme-dropdown {
  @apply duration-100!;
}

.v-popper--theme-tooltip .v-popper__inner {
  @apply rounded-lg! border-none! bg-slate-700! px-4! py-2! text-white! shadow-none!;
}

.v-popper--theme-tooltip .v-popper__arrow-outer {
  @apply border-slate-700!;
}

.v-popper--theme-dropdown .v-popper__inner {
  @apply shadow-overlay! rounded-lg! border-none! bg-white! p-2!;
}

.v-popper--theme-dropdown .v-popper__arrow-outer {
  @apply border-none!;
}

.v-popper--theme-dropdown .v-popper__arrow-inner {
  @apply border-white!;
}

html:has(.print) :not(:has(.print), .print, .print *) {
  @apply hidden!;
}

.sortable-ghost,
.sortable-chosen {
  @apply opacity-25 grayscale;
}
