@import "tailwindcss";

@theme {
  --color-primary: #ad1457;
  --color-secondary: #ffedd5;

  --font-sans: "Raleway", sans-serif;
}

* {
  @apply font-sans;
}

#app {
  @apply flex min-h-screen flex-col;
}

button {
  @apply inline-flex cursor-pointer items-center justify-center gap-2;
}

.lucide {
  width: unset;
  height: 1em;
}
